.metadata/*
ArduinoCore/*
USBHost/*
USBHostLib/*
I2C_basic/*
WireLib/*
i2cMaster/*
i2cslave/*
USBControlledLED/*
Cplusplus/*
EventsLib/*
TestProject/*
roobooogirl/*
BackgroundUSBDemo/*
ADKservice/*
nanopb/*
Nano_PB/*
jensTest/*
Ny_USBHost_test/*


