<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="on.hovercraft.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-feature android:name="android.hardware.usb.accessory" />           
    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application android:icon="@drawable/icon"
    			 android:label="TNE085 Hovercraft Project ">
        <activity android:name="on.hovercraft.android.MainActivity"
                  android:label="TNE085 Hovercraft Project"
                  android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>                  
        	<intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
				android:resource="@xml/accessory_filter" />
        </activity>
        <activity android:name="on.hovercraft.android.AppRestart"/>
		<uses-library android:name="com.android.future.usb.accessory" />
		<service android:name=".UsbService" ></service>
		<service android:name=".BtService" ></service>		
    </application>
    
</manifest>